{% extends "conference/base.html" %}

{% block content %}
<div class="row text-center">
    <form action="{% block post_url %}{% endblock %}" method="post">
    {% csrf_token %}
    {% block additional_info %}{% endblock %}
    <input class="btn btn-default" type="submit" value="Confirm" />
    </form>
</div>
<div class="row" style="margin-top: 10px">
    {% block extra_details %}{% endblock %}
</div>
{% endblock %}