{% extends "conference/base_confirmation.html" %}

{% block navbar_breadcrumbs %}
    <li class="active">Confirm Payment</li>
{% endblock %}

{% block heading_action %}
    {% if cancel %}Refund{% else %}Confirm Payment{% endif %}
{% endblock %}
{% block heading_title %}{{ booking.person.get_full_name }}
<small>for</small> {{ booking.event.title }}{% endblock %}

{% block post_url %}
    {% if cancel %}
        {% url 'booking_payment_cancel' booking_id=booking.id %}
    {% else %}
        {% url 'booking_payment_confirm' booking_id=booking.id %}
    {% endif %}
{% endblock %}


