{% extends "conference/base.html" %}
{% load crispy_forms_tags %}


{% block navbar_breadcrumbs %}
    <li class="active">Registration</li>
{% endblock %}

{% block heading_action %}Register{% endblock %}
{% block heading_title %}{{ booking.event.title }}
    <small>{{ booking.event.start|date:"D, d N Y H:i" }}</small>
{% endblock %}

{% block content %}

<div class="row">
    {% if booking.person != user %}
    <div class="panel panel-danger">
        <div class="panel-heading text-center"><h4>
            <span class="glyphicon glyphicon-warning-sign"></span>
            You are editing a booking for: {{booking.person.get_full_name}}
        </h4></div>
    </div>
    {% endif %}

    {% include "conference/event_description_panel_part.html" with event=booking.event price=booking.must_pay only %}

    <div class="panel panel-{{booking.get_payment_status_class|default:'info'}} collapsible-caret">
        <div class="panel-heading collapsible-toggle" data-toggle="collapse"
             data-target="#collapseRegistration">
            <strong>Registration status</strong>
        </div>
        <div id="collapseRegistration" class="panel-collapse collapse in" >
        <div class="panel-body">
            <p><label>Registration:</label>
            {% if booking.is_cancelled %}
            Not Confirmed/Cancelled (by {{booking.cancelledBy.get_full_name}} on {{booking.cancelledOn|date:"D, d N Y H:i"}})
            {% else %}
            Confirmed
            </p>
            {% endif %}
           
            {% if not booking.is_cancelled %}
            <p>
            <a href="{% url 'booking_send_invite' booking_id=booking.id %}" class="btn btn-info">Receive Calendar Entry</a>
            <a href="{% url 'booking_cancel' booking_id=booking.id %}" class="btn btn-danger">Unregister</a>
            </p>
            {% endif %}
        </div>
        </div>
    </div>
    <div class="panel panel-info collapsible-caret">
        <div class="panel-heading collapsible-toggle" data-toggle="collapse"
             data-target="#collapseChoices">
            {% if booking.event.choices.count > 0 %}
            <strong>Your choices</strong>
            {% else %}
            <strong>Update registration</strong>
            {% endif %}
        </div>
        <div id="collapseChoices" class="panel-collapse collapse in">
            <div class="panel-body">
                {% crispy choices_form %}
            </div>
        </div>
    </div>
</div>

{% endblock %}