{% extends "conference/base_confirmation.html" %}

{% block navbar_breadcrumbs %}
    <li class="active">Unregister</li>
{% endblock %}

{% block heading_action %}Unregister{% endblock %}
{% block heading_title %}{{ booking.event.title }}
    <small>{{ booking.event.start|date:"D, d N Y H:i" }}</small>
{% endblock %}

{% block post_url %}{% url 'booking_cancel' booking_id=booking.id %}{% endblock %}
