<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle collapsed" data-toggle="collapse" data-target="#collapseEventDetails">
        <strong>Event details</strong>
    </div>
    <div id="collapseEventDetails" class="panel-collapse collapse">
    <div class="panel-body">
        <div class="col-md-4">
            <p><label>Timezone:</label>
                {{ event.timezone }}</p>
            <p><label>Starts: </label>
                {{ event.start|date:"D, d N Y H:i" }}</p>

            {% if event.end %}
            <p><label>Ends: </label>
                {{ event.end|date:"D, d N Y H:i" }}</p>
            {% endif %}
            <div>
                
                {% if event.description %}
                <p><label>Description: </label>
                    <pre>{{event.description}}</pre></p>
                {% endif %}
        
        </div>
            <div>

                <h3>  Sessions:</h3>
        
                {% for session in event.sessions.all %}
                
                <article class="media content-section">
                    <div class="media-body">   
                     <p><label>{{"Session name: "}}</label> <p style="color:DodgerBlue;">{{ session.title }}</p>
                     <p><label>{{"Session start: "}}</label> <p style="color:DodgerBlue;">{{ session.start|date:"D, d N Y H:i"  }}</p>
                     <p><label>{{"Session end: "}}</label> <p style="color:DodgerBlue;">{{ session.end|date:"D, d N Y H:i"  }}</p>
                     <p><label>{{"Session speaker: "}}</label> <p style="color:DodgerBlue;">{{ session.speaker }}</p>
                     <p><label>{{"Session link: "}}</label> <p style="color:DodgerBlue;">{{ session.link }}</p>

            </div>
            {% endfor %}
            
        </div>
        
        <hr class="hidden-md hidden-lg"/>
        <div class="col-md-4">
            {% if event.booking_close %}
            <p><label>Bookings close: </label>
                {{ event.booking_close|date:"D, d N Y H:i" }}</p>
            {% endif %}

        </div>
       
    </div>
    </div>
</div>
