{% extends "conference/base.html" %}

{% block navbar_breadcrumbs %}
    <li class="active">Manage Event</li>
{% endblock %}

{% block heading_action %}Manage{% endblock %}
{% block heading_title %}{{ event.title }}
    <small>{{ event.start|date:"D, d N Y H:i" }}</small>
{% endblock %}

{% block content %}

<div class="row form-inline bottom-separation">
<div class='col-sm-4'>
    <a href="{% url 'event_update' event_id=event.id %}"
       class="btn btn-warning">Edit the event</a>
</div>
<div class='col-sm-8 pull-right' align="right">
    <div class="form-group">
        <label for="regristrationAddress">URL to register to this event:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="regristrationAddress" size="40"
                   value="{{ registration_url }}"></input>
            <div class="input-group-addon" onClick="copyToClipboard(document.getElementById('regristrationAddress').value)">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </div>
        </div>
    </div>

</div>
</div>

<div class="row">

{% if event.choices.exists %}
<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle" data-toggle="collapse" data-target="#collapseChoices">
        <strong>Choices summary</strong>
        <a href="{% url 'event_download_options_summary' event_id=event.id %}"
            onclick="avoid_collapse_toggle(event)"
            class="btn btn-info">
            <span class="glyphicon glyphicon-download-alt"></span> Download list
        </a>
    </div>
    <div id="collapseChoices" class="panel-collapse collapse in table-responsive" >
        <table class="panel-body table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Choice</th>
                    <th colspan="0">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for choice, options in event.get_options_counts.items %}
                <tr>
                    <th>{{ choice.title }}</th>
                    {% for option, total in options.items %}
                    <td>
                        {{ option.title }}
                        <span class="badge pull-right">{{ total }}</span>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if event.sessions.exists %}
<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle" data-toggle="collapse" data-target="#collapseSessions">
        <strong>Sessions summary</strong>
    </div>
    <div id="collapseSessions" class="panel-collapse collapse in table-responsive" >
        <table class="panel-body table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Participants</th>
                </tr>
            </thead>
            <tbody>
                {% for session in event.sessions.all %}
                <tr>
                    <td>{{ session.title }}</td>
                    <td><span class="badge">{{ session.get_active_bookings.count }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div>
    <table class="panel-body table table-bordered table-striped">
        <thead>
            <tr>
                <th>Likes</th>
                <th>Dislikes</th>
            </tr>
        </thead>
        <tbody>
     
            <tr>
                <td>{{ event.likes.all.count }}</td>
                <td>{{ event.dislikes.all.count }}</td>
            </tr>
        </tbody>
    </table>


</div>

</div>

{% endblock %}
