{% extends "conference/base.html" %}
{% load crispy_forms_tags %}

{% block navbar_breadcrumbs %}
    <li class="active">{% if event.id %}Edit{% else %}New{% endif %} Event</li>
{% endblock %}

{% block heading_action %}{% if event.id %}Edit{% else %}New{% endif %} Event{% endblock %}

{% block heading_title %}{{ event.title }}
    <small>{{ event.start|date:"D, d N Y H:i" }}</small>
{% endblock %}

{% block content %}

{% if event.pk %}
<div class="row form-inline bottom-separation">
<div class='col-sm-4'>
    <a href="{% url 'event_manage' event_id=event.id %}"
       class="btn btn-primary">Manage the conference</a>
</div>
<div class='col-sm-8 pull-right' align="right">
    <div class="form-group">
        <label for="regristrationAddress">URL to register to this conference:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="regristrationAddress" size="40"
                   value="{{ registration_url }}"></input>
            <div class="input-group-addon" onClick="copyToClipboard(document.getElementById('regristrationAddress').value)">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

<div class="row">
<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle" data-toggle="collapse" data-target="#collapseEvent">
        <strong>Details</strong>
    </div>

    <div id="collapseEvent" class="panel-collapse collapse in">
    <div class="panel-body">
        {% crispy event_form %}
    </div>
    </div>
</div>

{% if event.pk %}


<div class="panel panel-info collapsible-caret">
    <div class="panel-heading collapsible-toggle collapsed" data-toggle="collapse" data-target="#collapseSessions">
        <strong>Sessions</strong>
    </div>

    <div id="collapseSessions" class="panel-collapse collapse">
    <div class="panel-body">
        {% crispy session_formset session_helper %}
    </div>
    </div>
</div>

   
</div>
{% endif %}

</div>
{% endblock %}
