{% extends "conference/base.html" %}
{% load tz %}

{% block heading_action %}Follow Conferences{% endblock %}
{% block heading_title %}{% endblock %}
 {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% block navbar_breadcrumbs %}
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle"
            data-toggle="dropdown" title="Conferences">
            <span class="">
                {% if events_shown == 'fut' %}
                    Coming Up
                {% elif events_shown == 'past' %}
                    Past Conferences
                {% elif events_shown == 'all' %}
                    Conferences
                {% elif events_shown == 'mine' %}
                    My Conferences
                {% elif events_shown == 'arch' %}
                    Archived Conferences
                {% endif %}
            </span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'events_list_mine' %}">My conferences</a></li>
            <li><a href="{% url 'events_list_all' %}">All conferences</a></li>
            <li><a href="{% url 'events_list_future' %}">Coming up</a></li>
            <li><a href="{% url 'events_list_past' %}">Past conferences</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'events_list_archived' %}">Archived conferences</a></li>
            <li class="divider"></li>
        </ul>
    </li>
    <a href="{% url 'event_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        New conference
    
    </a>
    <li>
         <div>
        <form class="d-flex" method=POST action="{% url 'search-events' %}">
            {% csrf_token %}
            <input type="text" name="searched" placeholder="Search">
          </form> 
    </div> </li>


{% endblock %}

{% block content %}

<div class="row"><div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Conference</th>
                <th>Date (local)</th>
                <th>Infos</th>
                <th>Options</th>
                {% if user.is_authenticated %}
                <th><!--  Actions --></th>
                {%endif%}
            </tr>
        </thead>
        <tbody>
            {% for event_info in events %}
            {% timezone event_info.event.timezone %}
            <tr>
                <td>
                    <p>
                        <h4><a class="article-title" href="{% url 'event-detail' event_info.event.id %}">{{ event_info.event.title }}</a></h4>
                        {{ event_info.event.title }}
                        <span class="badge pull-right">{{ event_info.event.timezone }}</span>
                    </p>
                    {% if event_info.event.location_name %}<p><small>at </small>{{event_info.event.location_name}}</p>{% endif %}
                </td>
                <td><p>{{ event_info.event.start|date:"D, d N Y H:i" }}</p>
                    {% if event_info.event.end %}<p>- {{ event_info.event.end|date:"D, d N Y H:i" }}</p>{% endif %}
                    <p></p>
                </td>
                <td>
                    {% if event_info.event.max_participant > 0 %}
                    <p>Participants: {{event_info.event.get_active_bookings.count}}/{{event_info.event.max_participant}}</p>
                    {% endif %}
                    {% if event_info.event.booking_close %}
                    <p>Registration closes: {{event_info.event.booking_close|date:"D, d N Y H:i"}}</p>
                    {% endif %}
        
                </td>
       
                {% if user.is_authenticated %}
                <td>
                <div>
                {% if event_info.booking %}
                    {% if event_info.event.is_choices_open %}
                    
                    <a href="{% url 'booking_update' booking_id=event_info.booking.id %}" class="btn btn-success">
                        {% if event_info.event.choices.count > 0  %}
                        Choices
                        {% else %}
                        Update
                        {% endif %}
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-success disabled enable-tooltip"
                        data-toggle="tooltip" data-placement="top" title="Sorry you missed out">Choices Closed</button>
                    {% endif %}
                    {% if event_info.user_can_cancel %}
                    <a href="{% url 'booking_cancel' booking_id=event_info.booking.id %}" class="btn btn-danger">Unregister</a>
                    {% else %}
                    <button type="button" class="btn btn-danger disabled enable-tooltip"
                        data-toggle="tooltip" data-placement="top" title="Sorry you missed out">Event Closed</button>
                    {% endif %}
                {% elif event_info.user_can_book %}
                    {% if event_info.event.is_booking_open %}
                        {% if event_info.event.is_fully_booked %}
                        <button type="button" class="btn btn-info disabled enable-tooltip"
                            data-toggle="tooltip" data-placement="top" title="Sorry you missed out">Event Full</button>
                        {% else %}
                        <a href="{% url 'booking_create' event_id=event_info.event.id %}" class="btn btn-info">Register</a>
                        {% endif %}
                    {% else %}
                        <button type="button" class="btn btn-info disabled enable-tooltip"
                            data-toggle="tooltip" data-placement="top" title="Sorry you missed out">Event Closed</button>
                    {% endif %}
                {% endif %}
                </div>

                {% if event_info.user_can_update %}
                <div>
                    <a href="{% url 'event_manage' event_id=event_info.event.id %}"
                       class="btn btn-sm btn-primary">Manage</a>
                    <a href="{% url 'event_update' event_id=event_info.event.id %}"
                       class="btn btn-sm btn-warning">Edit</a>
                    ({{event_info.event.get_pub_status_display }})
                </div>
                {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endtimezone %}
            {% endfor %}
        </tbody>
    </table>
</div></div>

{% endblock %}
