{% if user.is_authenticated %}
<li>

   <div>

    <a class="nav-item nav-link" href="{% url 'profile' %}" >Profile</a>      
    <a class="nav-item nav-link" href="{% url 'logout' %}" >Logout</a>

   </div>

{% else %}
<li>
    <a href="{% url 'login' %}?next={% url 'index' %}">
        <span class="glyphicon glyphicon-log-in"></span>
        <span class="">Login</span>
    </a>
</li>
{% endif %}
