{% extends "conference/base.html" %}

{% block content%}

<center>
    <h1>Results:</h1>
    {% for event in events %}
    <h1> <a href="{% url 'event-detail' event.id %}">{{ event.title }}</a><br/></h1>
		{% endfor %}
</center>

{% endblock %}